:root {
  --text-primary: #b6b6b6;
  --text-secondary: #c3cfe3;
  --text-trinary: #000000;
  --text-quaternary: #947e7e;
  --bg-primary: #ea0000;
  --bg-secondary: #a71e1e;
  --bg-tertiary: #f77676;
  --bg-quaternary: #dcdcdc;

  --transition-speed: 400ms;

  font-family: "Poppins", sans-serif;

  overflow-y: scroll;
  overflow-x: auto;

  text-decoration: none;
}



body::-webkit-scrollbar{
  width: 0.25rem;
}

body::-webkit-scrollbar-track{
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb{
  background: #6649b8;
}

main{
  margin-left: 5rem;
  padding: 1rem;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
body {
  background-color: var(--bg-secondary);
  min-height: 100%;
  min-width: 100%;
}
