:root {
  --text-primary: #b6b6b6;
  --text-secondary: #c3cfe3;
  --text-trinary: #000000;
  --text-quaternary: #947e7e;
  --bg-primary: #ea0000;
  --bg-secondary: #a71e1e;
  --bg-tertiary: #f77676;
  --bg-quaternary: #dcdcdc;

  --transition-speed: 600ms;

  font-family: "Poppins", sans-serif;

  overflow: auto;

  text-decoration: none;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
body {
  background-color: var(--bg-secondary);
  min-height: 100%;
  min-width: 100%;
}

.navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.navbar .logo {
  position: absolute;
  top: 1.75rem;
  left: 0;
  padding: 6px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar-right {
  float: right;
}

.letter {
  animation: jump 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
  transform-origin: center;
  display: inline-block;
}

.letter:nth-child(2) {
  animation-delay: 0.2s;
}

.letter:nth-child(3) {
  animation-delay: 0.4s;
}

.letter:nth-child(4) {
  animation-delay: 0.6s;
}

.letter:nth-child(5) {
  animation-delay: 0.8s;
}

@keyframes jump {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.outlined-text {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#mc-logo{
  width: 37%;
}

#dennys-logo{
  width: 100%;
  height: 100%;
}

#menu{
    align-items: center;
    justify-content: center;
    display: flex;
}
